<div class="header">
<!--  <div><a routerLinkActive="active" routerLink="/">User</a></div>-->
  <div>
    <div class="user">
      User
      <img src="https://www.youloveit.ru/uploads/posts/2020-04/1586360515_youloveit_ru_dipper_gravity_falls_na_avu02.jpg" alt="avatar">
    </div>
  </div>
  <div><a routerLinkActive="active" routerLink="movies">Movies</a></div>
  <div><a routerLinkActive="active" routerLink="home" (click)="logout()">Log Out</a></div>

<!--  <div class="toggle"><mat-slide-toggle>Slide me!</mat-slide-toggle></div>-->
</div>
