
*{
  box-sizing: border-box;
}
.header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 150px;
  background: lightskyblue;
  font-size: 35px;
  align-items: center;
  align-content: space-between;
}

.dark{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 150px;
  background: #526385;
  font-size: 35px;
  align-items: center;
  align-content: space-between;
}



a{
  display: flex;
  text-decoration: none;
  color: darkblue;
}

.container{
 margin-right: 20px;
  font-size: 25px;
  color: snow;
}

img{
  width: 50px;
  border-radius: 50%;
}

.user{
  color: cadetblue;
}






.dark a{
  display: flex;
  text-decoration: none;
  color: snow;
}
